.form-parent{
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  background-color: black;
  color: white;
  margin: 4% 35%;
  padding: 5%;
  
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#root{
  margin-top:10%;
}

.form-parent input{
  height: 20px;
  width: 100%;
  color: black;
  border-radius: 5px;
  border: unset;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
  margin-bottom: 10px;
}

body{
  background-color: rgb(130, 128, 128);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

#nav{
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}

#nav a {
  color: white;
  text-decoration: none;
}

#nav a:hover{
  color: gray;
}

.red-col{
  color: rgb(248, 59, 59);
}

#button1{
  background-color: rgb(153, 202, 153);
  color: rgb(0, 63, 0);
}
#box{
  text-align: center;
}
